<style>
  #sidebar ul li .sidebar-link:active {
    background: red;
  }

</style>
<aside *ngIf="isLogin">
  <nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
      <a class="sidebar-brand" [routerLink]="['/']">
        <span class="align-middle">Admin</span>
      </a>

      <ul class="sidebar-nav">
        <li class="sidebar-header fs-6">
          Mục quản lý
        </li>

        <li class="sidebar-item">
          <div class="sidebar-item">
            <a class="sidebar-link" [routerLink]="['/']" routerLinkActive="active">
              <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Dashboard</span>
            </a>
          </div>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" [routerLink]="['/order/manager']" routerLinkActive="active">
            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Quản lý đơn đặt hàng</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" [routerLink]="['/user/manager']" routerLinkActive="active">
            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Quản lý người dùng</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" [routerLink]="['/product']" routerLinkActive="active">
            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Quản lý sản phẩm</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" [routerLink]="['/product']" routerLinkActive="active">
            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Quản lý danh mục</span>
          </a>
        </li>
        <li class="sidebar-item">
          <a class="sidebar-link" [routerLink]="['/banner']" routerLinkActive="active">
            <i class="align-middle" data-feather="sliders"></i> <span class="align-middle">Quản lý slide quảng
              cáo</span>
          </a>
        </li>
      </ul>
    </div>
  </nav>
</aside>
