#header {
  background-color: #131921;
  color: white;
  text-transform: capitalize
}

button {
  border: 0;
  background-color: yellow;
}

mat-form-field {
  position: absolute;
 
}

.example-spacer {
  flex: 1 1 auto;
}
