<header>
  <div class="row">
    <mat-toolbar class="navbar" id="header">
      <button
        mat-raised-button
        style="background-color: #232f3e"
        [routerLink]="['/home']"
      >
        <mat-icon class="example-spacer" style="color: white">home</mat-icon>
      </button>

      <span class="example-spacer"></span>

      <form class="form-inline">
        <input
          matInput
          class="form-control"
          #myInput
          type="search"
          placeholder="Tìm Kiếm"
          (keyup.enter)="doSearch(myInput.value)"
          [formControl]="myControl"
          [matAutocomplete]="auto"
          style="width: 750px"
        />
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option
            *ngFor="let option of filteredOptions | async"
            [value]="option.name"
          >
            <span>{{ option.name }} </span>
            <small style="position: absolute; right: 30px; color: gray"
              >in {{ option.catagory.name }}</small
            >
          </mat-option>
        </mat-autocomplete>
        <button
          mat-button
          (click)="doSearch(myInput.value)"
          style="background-color: #232f3e"
        >
          <mat-icon>search</mat-icon>
        </button>
      </form>

      <span class="example-spacer"></span>
      <div class="sign-in" *ngIf="!isLogin">
        <a mat-raised-button [routerLink]="['/login']">Đăng Nhập</a>
      </div>
        <div class="sign-in" *ngIf="isLogin" (click)="logOut()">
          <a mat-raised-button [routerLink]="['/']">Đăng Xuất</a>
        </div>
        <div class="cart" (click)="openCart()">
          <a mat-raised-button color="warn">
            <mat-icon>add_shopping_cart</mat-icon> Giỏ Hàng
          </a>
        </div>

    </mat-toolbar>
  </div>
</header>
