<div class="container">
  <div class="row">
    <div class="col-md-3">
      <mat-card class="sideProfileMenu">
        <mat-card-content>
          <mat-selection-list>
            <!-- <div mat-subheader>Folders</div> -->
            <mat-list-item [ngClass]="{active: pages === item.name}" *ngFor="let item of menus"
              (click)="onClick(item.name)">
              <mat-icon mat-list-icon>{{item.icon}}</mat-icon>
              <div mat-line>{{item.name}}</div>
            </mat-list-item>
          </mat-selection-list>
        </mat-card-content>
      </mat-card>
    </div>
    <div class="col-md-9" >
      <mat-card *ngIf="pages === 'Đơn Hàng'">
        <!-- <h4 class="text-muted">Báo cảo chi tiêu của bạn trong tháng</h4>
        <p class="text-muted h6">Bảng thống kê</p>
        <app-profile-chart></app-profile-chart> -->
        <mat-divider [inset]="true"></mat-divider>
      
        <p class="text-muted h6">Các đơn đặt hàng gần đây nhất</p>
        <table class="table border bg-white">
          <thead>
            <tr>
              <th> Mã đơn hàng </th>
              <th> Ngày đặt hàng </th>
              <th> Tổng </th>
              <th> Trạng thái </th>
              <th colspan="2">Hành động</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let order of orders">
              <td> <button mat-button style="padding:5px">{{order.id}} </button></td>
              <td> <button mat-button style="padding:5px">{{sharedService.getFormatDateGTMToLocalDate(order.createAt)}}</button></td>
              <td> <button mat-button style="padding:5px">{{sharedService.getFormatCurrency(order.totalAmount)}} </button></td>
              <td>
                <div *ngIf="order.status == 1;">
                  <button mat-button color="warn"  style="padding:5px">Chưa xác nhận</button>
                </div>
                <div *ngIf="order.status == 2;">
                  <button mat-button color="primary"  style="padding:5px">Đã xác nhận</button>
                </div>
                <div *ngIf="order.status == 3;">
                  <button mat-button color="disabled"  style="padding:5px">Đã hủy</button>
                </div>
                <div *ngIf="order.status == 4;">
                  <button mat-button style="padding:5px">Đã hoàn thành</button>
                </div>
              </td>
              <td> <button mat-raised-button color="primary" style="padding:5px" (click)="openOrderDetail(order)">Chi tiết</button></td>
            </tr>
        </table>
      </mat-card>
      <mat-card *ngIf="pages === 'Tổng Đơn Hàng'">
        <app-profile-order></app-profile-order>
      </mat-card>
      <mat-card *ngIf="pages === 'Tài Khoản Của Tôi'">

      </mat-card>
    </div>
  </div>
</div>
