<style>
  .pCart ::ng-deep .mat-dialog-content {
    max-height: inherit;
  }

</style>
<!-- <h1 mat-dialog-title>Giỏ hàng</h1> -->
<div class="pCart">
  <div mat-dialog-content>
    <div class="card">
      <div class="row">
        <div class="col-md-8 cart">
          <div class="title">
            <div class="row">
              <div class="col">
                <h1 mat-dialog-title>Giỏ Hàng</h1>
              </div>
              <div class="col align-self-center text-right text-muted"> Số lượng sản phẩm: {{cart.totalUniqueItems}}</div>
            </div>
          </div>
          <!-- <div *ngIf="cart?.cartItem; else #getList">Content to render when condition is true.</div> -->
          <!-- <ng-template #getList>Content to render when condition is false.</ng-template> -->
          <div *ngIf="!isEmpty">
            <div class="row border-top border-bottom" *ngFor="let item of cart?.cartItem">
              <div class="row main align-items-center">
                <div class="col-md-2"><img class="img-fluid"
                    src="{{'http://localhost:8081/image/'+item.productItem.imageurl}}"></div>
                <div class="col-md-3">
                  <div class="row text-muted">{{item.productItem.catagory.name}}</div>
                  <div class="row">{{item.productItem.name}}</div>
                </div>
                <div class="col-md-4">
                  <div style="position: relative;
                  top: 0;">
                    <div class="input-group flex-nowrap">
                      <span class="input-group-text cursorPointer"
                        (click)="changeQuantity(item.quantity-1,item.id,item.active)" id="addon-wrapping">
                        <mat-icon aria-hidden="false" aria-label="Example minus icon">remove</mat-icon>
                      </span>
                      <input class="form-control" (change)="updateQuantity($event,item.id,item.active)"
                        value="{{item.quantity}}" />
                      <span class="input-group-text cursorPointer"
                        (click)="changeQuantity(item.quantity+1,item.id,item.active)" id="addon-wrapping">
                        <mat-icon aria-hidden="false" aria-label="Example minus icon">add</mat-icon>
                      </span>
                    </div>
                  </div>
                </div>
                <div class="col-md-3">{{getCalculatedValue(item)}}
                  <span class="close">
                    <mat-checkbox (click)="selectedItem(item)" style="cursor: pointer" disabled=""
                      [checked]="item.active">
                    </mat-checkbox>
                    <!-- <mat-icon>remove</mat-icon> -->
                  </span>
                </div>
              </div>
            </div>
          </div>
          <h3 *ngIf="cart.isEmpty">Giỏ hàng trống</h3>
          <div mat-dialog-actions align="end">
            <button (click)="backToHome()" color="Accent" mat-raised-button>Trở về</button>
            <button (click)="deleteItemInCart()" color="warn" mat-raised-button *ngIf="itemSelected.length">Xóa</button>
            <!-- <button mat-raised-button (click)="onNoClick()">Thóat</button> -->
            <!-- <button mat-raised-button [mat-dialog-close]="data.animal" cdkFocusInitial>Ok</button> -->
          </div>
          <!-- <div class="back-to-shop"><a href="#">&leftarrow;</a><span class="text-muted">Back to shop</span></div> -->
        </div>
        <div class="col-md-4 summary">
          <div>
            <h2><b>Hóa Đơn</b></h2>
          </div>
          <hr>
          <!-- <form> -->
          <!-- <p>SHIPPING</p>
            <select>
              <option class="text-muted">Standard-Delivery- &euro;5.00</option>
            </select>
            <p>GIVE CODE</p>
            <input id="code" placeholder="Enter your code">
          </form> -->
          <div class="row" style="border-top: 1px solid rgba(0,0,0,.1); padding: 2vh 0;">
            <div class="col">Tổng giá trị đơn hàng</div>
            <div class="col text-right">{{sharedService.getFormatCurrency(cart.TotalPrice)}}</div>
          </div>
          <button (click)="goCheckout()" mat-raised-button >Thanh toán</button>
        </div>
      </div>

    </div>
  </div>
</div>
