table {
  /* border: 1px solid black; */
  table-layout: fixed;
  width: 100%;
}

td #text-wrapper {
  /* border: 1px solid black; */
  overflow-wrap: break-word;
  word-wrap: break-word;
  hyphens: auto;
}
