<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

  <a class="navbar-brand" style="color:white;">Quản lý người dùng</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02"
    aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarColor02">
    <form class="form-inline my-2 my-lg-0">
      <input type="search" (input)="searchAny($event)" class="form-control mr-sm-2" placeholder="Tìm kiếm" required>
    </form>
  </div>
</nav>
<div class="container" id="main-container" style="text-align: center ;">
  <div class="row">
    <h2> Danh sách người dùng </h2>
    <table class="table table-bordered table-responsive-sm table-responsive-md
    table-responsive-lg">
      <thead>
        <tr>
          <th> Tên khách hàng </th>
          <th> Số điện thoại </th>
          <th> Địa chỉ</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of filterArray">
          <td>{{item.name}}</td>
          <td>{{item.phone}}</td>
          <td>{{item.address}}</td>
        </tr>
        <tr *ngIf="filterArray.length <= 0">
          <td colspan="3">
            <h3>Không tìm thấy dữ liệu</h3>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>
